{% extends 'index.html' %} {% block title %} Resultados {%endblock%}
{% block main_content %}
<div class="container">
    <div class="row col-lg-6 col-md-12 mb-3">
      <h2 class="my-5">El producto buscado: {{title}}</h2>
      <form
      action="{% url 'find_product' %}"
      method="GET"
    >
      {% csrf_token %}
      <input
      type="text" 
      title="title" 
        autocomplete="off"      />
        <input type="submit" value="Buscar">

    
      </form>
    </div>
  </div>

{%endblock%}