{% extends 'index.html' %} {% block title %} Resultados de su busqueda{%endblock%}
{% block main_content %}
    <div class="row col-lg-6 col-md-12 mb-3 container-main">
      <h2 class="my-5">Producto: {{title}}</h2>
  
      {% if Products %}
      <ul class="list-group mb-3">
        {% for Product in Products %}
        <li >
            <div class="flex-fil mb-2" >
                <p class="my-auto"><b class="gradient">Username: </b>{{user.username}} <br>
                    <b class="gradient">Producto </b> {{Product.title}} {{Product.price}}
                </p>
            </div>
        </li>
        <br>
        {% endfor %}
      </ul>
      {% else %}
      <span style="color: red">No se ha encontrado el usuario</span>
  
      {% endif %}
    </div>


{%endblock%}