{% extends 'index.html' %} {% block title %} Resultados de la busqueda {%endblock%}
{% block main_content %}
<div class="container">
    <div class="row col-lg-6 col-md-12 mb-3">
      <h2 class="my-5">El producto buscado: {{title}}</h2>
      {% if products %}
      <ul class="list-group mb-3">
        {% for product in products %}
        <li >
            <div class="flex-fil mb-2" >
                <p class="my-auto"><b class="gradient">Producto: </b>{{product.title}} <br>
                    <b class="gradient">Precio: </b> {{product.price}}
                </p>
            </div>
        </li>
        {% endfor %}
      </ul>
      <br>
      {% else %}
      <span style="color: red">El producto buscado no existe</span>
  
      {% endif %}
    </div>
  </div>

{%endblock%}